*.obj
*.lib
*.exe
*.db
*.db-shm
*db-wal
*.ipch
*.log
*.recipe
*.tlog
*.FileListAbsolute.txt
*.pdb
*.lastbuildstate
*.stamp
*.stamp.depend
*cmake_install.cmake
*.rule
*.cmake
*.bin
*.ilk

CMakeFiles
.vs

!/external/cmake/customtargets/*.cmake
